@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

img.mainImg {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: block;
    margin: 5px auto;
}
p.desc {
    margin-left: 320px;
}

.ingImg {
    height: 128px;
    border-radius: 3px;
}

.ingredients th:first-child,
.ingredients td:first-child {
    width: 130px;
    text-align: center;
}

.ingredients td {
    vertical-align: middle;
}

.photoCard {
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: #afafaf 3px 3px 5px 0px;
    padding: 20px;
}
.recipeCard {
    margin-left: 60px;
    flex-grow: 1;
}
.warningImgs {
    height: 64px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.stdDrinks {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-image: url(/img/standardDrinks.png);
    background-size: cover;
    position: relative;
    margin-right: 10px;
    float: left;
}
.stdDrinks span {
    position: relative;
    color: #f0f0f0;
    font-size: 21px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    top: 25px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.pregnantDrinkWarning {
    height: 45px;
    float: left;
    margin-top: 12px;
}

.nutritionTable {
    margin: 10px auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
    width: 310px;
    border-spacing: 0;
}

.nutritionTable td {
    padding-left: 2px;
    padding-right: 2px;
}

.nutritionTable .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}

.nutritionTable .subtitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    top: -2px;
    font-family: 'Roboto', sans-serif;
}

.nutritionTable .headerRow td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nutritionTable .headerRow td:not(:first-child) {
    width: 65px;
    text-align: center;
    font-size: 13px;
}
.nutritionTable .headerRow td:first-child {
    width: 200px;
}
.nutritionTable .appendix {
    font-size: 13px;
}
.nutritionTable .valRow td {
    padding-top: 3px;
    padding-bottom: 3px;
}
.nutritionTable .valRow .nName {
    text-transform: uppercase;
    font-weight: bold;
}
.nutritionTable .valRow.subVal .nName {
    font-weight: 400;
}
.nutritionTable .valRow.subVal .nName::before {
    content: '- ';
}
.nutritionTable .valRow td:not(:first-child) {
    text-align: right;
}
.nutritionTable .microHeaderRow td {
    text-align: center;
}
.nutritionTable .microHeaderRow td {
    border-top: 1px solid black;
}
.nutritionTable .nDI {
    background: #bde4f9;
    font-weight: 500;
}

.nutritionTable .headerRow .blueHl,
.nutritionTable .microHeaderRow .blueHl {
    background: #00aced;
    font-weight: 500;
    color: white;
    font-size: 13px;
}

.nutritionTable tr:last-child td {
    border-top: 1px solid black;
}

.nutritionTable .yellowHl td {
    background: #fff400;
}
.nutritionTable .valRow.micro .nName {
    font-weight: 400;
}

.editBtn, h3 i.saveBtn, h3 i.cancelBtn {
    color: #b1b1b1;
    cursor: pointer;
}
.editBtn:hover, h3 i.saveBtn:hover, h3 i.cancelBtn:hover {
    color: rgb(95, 95, 95);
}

#editButtons {
    display: none;
}

.edited {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}

.commentsTable {
    border-spacing: 0;
    width: 100%;
}
.commentsTable .comment {
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    border-top: 1px solid black;
}
.commentsTable .username {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-align: right;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
}
.addCommentBox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.addCommentButton {
    float: right;
}

.commentContainer .thumbnail {
    padding:0px;
}
.commentContainer .panel {
    position:relative;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #ddd;
}
.commentContainer .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.commentContainer .panel-body {
    padding: 15px;
    box-sizing: border-box;
}
.commentContainer .panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.commentContainer .panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.commentContainer .panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}