.btnDeleteIngredient {
    color: red;
    cursor: pointer;
}
.btnDeleteIngredient:hover {
    color: rgb(200,0,0);
}

.titleEdit {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.categoryEdit {
    font-style: italic;
    display: inline-block;
    width: 200px;
}

.qtyEdit {
    width: calc(100% - 60px);
    display: inline-block;
    margin-right: 5px;
}