.result {
    width: calc(49.8% - 2.5px);
    height: 150px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 2.5px;
    transition: ease-in 0.1s;
}
.result:hover {
    background: #f0f0f0;
}
.result:nth-of-type(2n) {
    margin-right: 2.5px;
    margin-left: 0px;
}

.result img {
    height: 150px;
    border-radius: 5px;
    float: left;
    width: 150px;
    background-color: gainsboro;
}
.result>div {
    float: left;
    margin-left: 10px;
    max-width: 390px;
}
.result>div>div {
    font-size: 14pt;
}
  
  h1 {
      margin-bottom: 30px;
  }

