<html>
    <head>
        <% include includes/globalcsshtml.ejs %>
        <title>Skinny Sip - Login</title>
    </head>
    <body>
        <% include includes/header.ejs %>

        <!-- Body -->
        <div class="container" id="resultContainer">
            <div style="float: left; width: 50%; padding-right: 20px; border-right: 1px gainsboro solid">
                <h1>Register</h1>
                <form action="/api/register" method="POST">
                    <div class="form-group">
                        <label for="rg_username">Username*</label>
                        <input required class="form-control" name="username" id="rg_username" type="text" value="<% if (locals.regun) {%><%=regun%><%}%>" />
                    </div>
                    <div class="form-group">
                        <label for="fullName">Full Name*</label>
                        <input required class="form-control" name="fullName" id="fullName" type="text" value="<% if (locals.regfn) {%><%=regfn%><%}%>" />
                    </div>
                    <div class="form-group">
                        <label for="rg_password">Password*</label>
                        <input required class="form-control" name="password" id="rg_password" type="password" />
                    </div>
                    <div class="form-group">
                        <label for="rg_rpt_password">Repeat Password*</label>
                        <input required class="form-control" name="rpt_password" id="rg_rpt_password" type="password" />
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <% if (locals.registerstatus) {%> 
                        <small class="form-text text-danger"><%=registerstatus%></small>
                    <%}%>
                    <% if (locals.registergood) {%> 
                        <small class="form-text text-success">Registration successful, you can now login</small>
                    <%}%>
                    <small class="form-text text-muted">* indicates that field is mandatory</small>
                </form>
            </div>
            <div style="float: left; width: 50%; padding-left: 20px;">
                <h1>Login</h1>
                <form action="/api/login" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" name="username" id="username" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" name="password" id="password" type="password" />
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <% if (locals.loginstatus) {%> 
                        <small class="form-text text-danger"><%=loginstatus%></small>
                    <%}%>
                </form>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="/Search">Search cocktails</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/Random">Random cocktail</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/About">About + credits</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Zachary Murray 2019. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>