<html>
    <head>
        <% include includes/globalcsshtml.ejs %>
        <title>Skinny Sip - Login</title>
    </head>
    <body>
        <% include includes/header.ejs %>

        <!-- Body -->
        <div class="container" id="resultContainer">
            <h1>About</h1>
            <p>This application is brought to you by Zachary Murray.<br>It relies on API's provided by "TheCocktailDB" and "Nutritionix."</p>
        </div>
        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="/Search">Search cocktails</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/Random">Random cocktail</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/About">About + credits</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Zachary Murray 2019. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>