<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-cocktail"></i>Skinny Sip</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <% if (locals.active==="Search") {%>active<%}%>"><a class="nav-link" href="/">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/Random">Random</a></li>
                <li class="nav-item <% if (locals.active==="About") {%>active<%}%>"><a class="nav-link" href="/About">About</a></li>
                <li class="nav-item <% if (locals.active==="Login") {%>active<%}%>"><a class="nav-link" href="/Login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>